<div class="nes-container with-title is-rounded">
  <div class="title">
    <a href="https://github.com/rusctzec/ships">
      <i class="nes-icon github"></i>
    </a>
  </div>
  <div class="col">
    <div>
      <p>Original Project by:</p>
    </div>
    <div>
      <a href="https://github.com/DVasquez4155/"> <img src="https://github.com/Dvasquez4155.png" style="max-width:100%;" width="50" /> Daniel Vasquez Talavera </a>
    </div>
    <div>
      <a href="https://github.com/krease23">
      <img src="https://github.com/krease23.png" style="max-width:100%" width="50" /> Kermit Bonner</a>
    </div>
    <div>
      <a href="https://github.com/ConradRodgers"> <img src="https://github.com/ConradRodgers.png" style="max-width:100%" width="50" /> Conrad </a>
    </div>
    <div>
      <a href="https://github.com/rafaelestradajr"> <img src="https://github.com/rafaelestradajr.png" style="max-width:100%;" width="50" /> rafaelestradajr</a>
    </div>
    <div>
      <a href="https://github.com/rusctzec"> <img src="https://github.com/rusctzec.png" style="max-width:100%;" width="50" /> rusctzec</a>
    </div>
    <div>
      <a href="https://github.com/alfierr"> <img src="https://github.com/alfierr.png" style="max-width:100%;" width="50" /> alfierr</a>
    </div>
    <div class="mt-4">
      Continued development by:
    </div>
    <div>
      <a href="https://github.com/rusctzec"> <img src="https://github.com/rusctzec.png" style="max-width:100%;" width="50" /> rusctzec</a>
    </div>
  </div>
</div>
