<script src="bundle.js" type="text/javascript"></script>
<div class="row nes-container is-rounded">
    <div class="col">
        <h4>Health</h4>
        <section class="icon-list" id='health'>
            <i class="nes-icon heart"></i>
            <i class="nes-icon heart"></i>
            <i class="nes-icon heart"></i>
            <i class="nes-icon heart"></i>
            <i class="nes-icon heart"></i>
            <i class="nes-icon heart"></i>
            <i class="nes-icon is-half heart"></i>
            <i class="nes-icon is-transparent heart"></i>
        </section>
    </div>
    <div class="col">
        <h4>Armor</h4>
        <progress id='armor' class="nes-progress is-primary is-rounded" value="10" max="100" style='height: 30%;'></progress>
    </div>
</div>
<br>
<canvas class='nes-container is-rounded' id="canvas" width="400" height="400"></canvas>