<script src="bundle.js" type="text/javascript"></script>
<script src="/assets/js/script.js" type="text/javascript"></script>
<div class="row nes-container is-rounded">
    <div class="col">
        <h4>Health<img src="images/largegreenhealthpickup.png"></h4>
        <section class="icon-list" id='health'>
        </section>
    </div>
    <div class="col">
        <h4>Armor<img src="images/LargeGreenshieldpickup.png" </h4>
            <progress id='armor' class="nes-progress is-primary is-rounded" value="0" max="100"
                style='height: 30%; width: 0px; display: none'></progress>
    </div>
</div>
<br>
<div id="canvas-container" class="mx-auto"></div>